.container-fluid>.row {
    height: 100vh;
}

.first-col .navbar .container-fluid {
    display: block;
}

.navbar-toggler {
    background-color: #FFFFFF;
}

.second-col {
    max-height: 90vh;
    overflow-y: scroll;
}

.second-col .row:nth-child(odd) {
    background-color: #F5F5F5;
}

.third-col {
    background-color: #FFFAFA;
}

.main-message {
    max-height: 90vh;
    overflow-y: scroll;
}

.messenger-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.messenger-name {
    flex-grow: 3;
}

.main-btn button {
    background-color: #BDFEF2;
    color: black;
    border: none;
    box-shadow: 1px 1px 4px black;
    min-width: 100px;
}
.main-btn button:hover{
    background-color: #39f9d6;
    color: black;
}
@media (max-width: 992px) {
    .hidden-col {
        display: none;
    }
}

@media (min-width: 992px) {
    .hidden-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first-col .card-body {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .first-col {
        display: flex;
        justify-content: space-evenly;
    }

    .navbar-nav {
        display: flex !important;
    }

    .first-col .card {
        flex-direction: row;
    }

    .main-message {
        max-height: 75vh;
        overflow-y: scroll;
    }

}

@media (max-width: 768px) {
    .first-col {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .first-col>.card>img {
        width: 6rem !important;
        height: 6rem !important;
    }

    .second-col {
        max-height: 30%;
    }

}

@media (width: 768px) {
    .first-col {
        justify-content: space-evenly;
    }

    .first-col>.card>img {
        width: 8rem !important;
        height: 8rem !important;
    }

    .second-col {
        max-height: 100vh;
    }
}