.navbar-toggler {
    background-color: white;
}

.message {
    background-color: #FFFAFA;
}

.main-message {
    min-height: 30vh;
    max-height: 50vh;
    overflow-y: scroll;
}

.main-btn button {
    background-color: #BDFEF2;
    color: black;
    border: none;
    box-shadow: 1px 1px 4px black;
    min-width: 100px;
}
.cards .row:nth-child(even){
    background-color:#F5F5F5ed;
}